.auth-bg {
  // Imagem de <a href="https://br.freepik.com/fotos-gratis/mulher-frequentando-aula-online_12457264.htm#query=estudante%20online&position=8&from_view=search&track=ais&uuid=a5955287-ece4-4567-82a0-038f9757cf11">Freepik</a>
  background-image: url('/assets/estudante.jpg');
  height: 100vh;
  width: 100wh;
  background-size: cover;
  background-position: center;
}
.login100-form-btn{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}
.form-check{
  margin-bottom: 20px;
}
